# Byte‑compiled
__pycache__/
*.py[cod]

# Virtual env
.venv/

# IDE files
.vscode/
.idea/

# Env files
.env

# pytest / mypy caches
.pytest_cache/
.mypy_cache/

# data files
data/


# build files
src/finrag.egg-info/

# jupyter notebook checkpoints
.ipynb_checkpoints/

# outputs
outputs/

# manual test files
manual_test.py
